name: deployment workflow
on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: |
          echo "Installing dependencies..."
          npm ci
      - name: Run Tests
        run: |
          echo "Running tests..."
          npm test
  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: build application
        run: |
          echo "Building the application..."
          npm run build
      - name: Deploy-app
        run: |
          echo "Deploying the application..."
          npm run build
